#!/usr/bin/make -f
# Use pybuild with Python 3
export PYBUILD_NAME=xinput-plus
export PYBUILD_DISABLE=test

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_build:
	# Compile translations (.ts -> .qm) into debian/tmp tree
	mkdir -p debian/tmp/i18n
	# If you ship .ts files in source, build .qm here:
	if [ -d i18n ]; then \
		LREL=$$(command -v lrelease-qt6 || command -v lrelease || echo /usr/lib/qt5/bin/lrelease); \
		for ts in i18n/*.ts; do \
			$$LREL "$$ts" -qm "debian/tmp/i18n/$${ts##*/%.ts/.qm}"; \
		done; \
	fi

override_dh_auto_install:
	# Install main script
	install -D -m 0755 xinput-plus.py debian/xinput-plus/usr/bin/xinput-plus
	# Install icon (rename to xinput-plus.svg)
	install -D -m 0644 src/emucon.svg debian/xinput-plus/usr/share/icons/hicolor/scalable/apps/xinput-plus.svg
	# Install compiled translations
	if [ -d debian/tmp/i18n ]; then \
		install -d debian/xinput-plus/usr/share/xinput-plus/i18n; \
		cp -a debian/tmp/i18n/*.qm debian/xinput-plus/usr/share/xinput-plus/i18n/; \
	fi
	# Desktop & AppStream
	install -D -m 0644 debian/xinput-plus.desktop debian/xinput-plus/usr/share/applications/xinput-plus.desktop
	install -D -m 0644 debian/xinput-plus.metainfo.xml debian/xinput-plus/usr/share/metainfo/xinput-plus.metainfo.xml
	# Manpage
	install -D -m 0644 debian/xinput-plus.1 debian/xinput-plus/usr/share/man/man1/xinput-plus.1

override_dh_installchangelogs:
	dh_installchangelogs src/CHANGELOG.md


