[Desktop Entry]
Type=Application
Name=xinput-plus
GenericName=Pointer speed per device
Comment=Adjust mouse and touchpad speed per device (Xorg, via xinput)
Exec=xinput-plus
Icon=xinput-plus
Categories=Settings;
Keywords=mouse;touchpad;speed;acceleration;libinput;xinput;
StartupNotify=true
Terminal=false

